<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">セーラ・ネットワークス株式会社について</h2>
                <hr class="light">
                <p class="text-faded">設立: 2020年8月</p>
                <p class="text-faded">所在地: 東京都渋谷区神宮前6-23-4</p>
                <p class="text-faded">代表取締役: 小塚真木子</p>
                <p class="text-faded">取締役: 川西智也　松岡梨沙</p>
                <a href="#" class="btn btn-default btn-xl">資料請求</a>
            </div>
        </div>
    </div>
</section>
